extends layoutProfiles

block content
  script.
    $(document).ready(function(){
      var maxNumberOfChoses = 5;
      var minNumberOfChoses = 3;

      $('#checkOptions').on('click', function () {
        var checkedBoxes = $('input:checked').length;
        console.log('checkedBoxes: ' + checkedBoxes);
        if(checkedBoxes > maxNumberOfChoses) {
          alert('You\'re not allowed to choose more than ' + maxNumberOfChoses + ' boxes');
        }
      });

      $('#deselect').on('click', function () {
        var checkedBoxes = $('input:checked').length;
        console.log('checkedBoxes: ' + checkedBoxes);
        $("input:checkbox").prop("checked", false);
        $("input:checkbox").attr("checked", false);

      });
      /*
      $('#deselect').toggle(function(){
          $('input:checkbox').attr('checked','checked');
          $(this).val('uncheck all');
      },function(){
          $('input:checkbox').removeAttr('checked');
          $(this).val('check all');        
      });*/

      $('input[type="checkbox"]').click(function(event) {
        if (this.checked && $('input:checked').length > maxNumberOfChoses) {
          event.preventDefault();
          console.log("Maximum number of selected boxes allowed is " + maxNumberOfChoses);
        }
      });
    });

  div.top
    ol.breadcrumb
      li 
        a(href='/') home
      li.active  description

  br
  br
  div.container
    div.content
      div.text-center
        label Please select between 3 and 5 values that describe yourself. 
        br
        br
        br
        form.form-horizontal(method="post", id="selectedWords", action='/profiles/show')
          div#holder
            each skill, i in skillsList
                input(type="checkbox", name="#{skill.skillTitle}" autocomplete="off" id="#{skill.skillTitle}" class="regular-checkbox big-checkbox")
                label(for="#{skill.skillTitle}") #{skill.skillTitle}
          br
          br
          div(class="btn-group" role="group")
            button(class="btn btn-default" type="submit" id="checkOptions") Send options
            button(class="btn btn-default" type="button" id="deselect") Deselect options
        br
        br

  div.footer
    label User: #{session.signum}
  