extends layoutProfiles

block content
  script.
    $(document).ready(function(){
      var maxNumberOfChoses = 5;
      var minNumberOfChoses = 3;

      $('#checkOptions').on('click', function () {
        var checkedBoxes = $('input:checked').length;
        console.log('checkedBoxes: ' + checkedBoxes);
        if(checkedBoxes > maxNumberOfChoses || checkedBoxes < minNumberOfChoses) {
          alert('You\'re not allowed to choose more than ' + maxNumberOfChoses + ' boxes');
        }
      });

      $('#deselect').on('click', function () {
        var checkedBoxes = $('input:checked').length;
        console.log('checkedBoxes: ' + checkedBoxes);
        $("input:checkbox").prop("checked", false);
        $("input:checkbox").attr("checked", false);

      });


      $('input[type="checkbox"]').click(function(event) {
        if (this.checked && $('input:checked').length > maxNumberOfChoses) {
          event.preventDefault();
          console.log("Maximum number of selected boxes allowed is " + maxNumberOfChoses);
        }
      });
    });

    verifyMinimumBoxes() {
      alert($('input:checked').length);
      if ($('input:checked').length < minNumberOfChoses) {
        event.preventDefault();
        console.log("Minumum number of selected boxes allowed is " + minNumberOfChoses);
        alert("Error");
        return false
      }
    }

  div.container
    div.content
      h3= stepDetails 
        b= target
      div.text-center
        br
        form.form-horizontal(method="post", id="selectedWords", action='/profiles/save?target=#{target}')
          div#holder
            each skill, i in skillsList
                input(type="checkbox", name="#{skill.skillTitle}" autocomplete="off" id="#{skill.skillTitle}" class="regular-checkbox big-checkbox")
                label(for="#{skill.skillTitle}") #{skill.skillTitle}
          br
          br
          div(class="btn-group" role="group")
            button(class="btn btn-default" type="submit" id="checkOptions") Send options
            button(class="btn btn-default" type="button" id="deselect") Deselect options
        br
        br

  div.footer
  